<main>
  <div class="container">
    <form class="form" [formGroup]="fg">
      <p class="title">Iniciar sesión</p>
      <input
        placeholder="Correo"
        class="username input"
        type="email"
        formControlName="correo"
      />
      <div class="cont-p">
        @if(this.fg.controls['correo'].errors !== null &&
        this.fg.controls["correo"].touched) { @if
        (this.fg.controls['correo'].errors!['required']) {
        <p>El campo esta vacio</p>
        } @else if (this.fg.controls['correo'].errors!['email']) {
        <p>No es un correo valido</p>
        } }
      </div>
      <input
        placeholder="Clave"
        class="password input"
        type="password"
        formControlName="clave"
      />
      <div class="cont-p">
        @if(this.fg.controls['clave'].errors !== null &&
        this.fg.controls["clave"].touched) { @if
        (this.fg.controls['clave'].errors!['required']) {
        <p>El campo esta vacio</p>
        } }
      </div>

      <div class="cont-btns">
        <button class="btn-secondary" (click)="cargaUsuario(usuarios[0])">
          <i class="fa-solid fa-user"></i>
          Fede
        </button>
        <button class="btn-secondary" (click)="cargaUsuario(usuarios[1])">
          <i class="fa-solid fa-user"></i>
          Luna
        </button>
        <button class="btn-secondary" (click)="cargaUsuario(usuarios[2])">
          <i class="fa-solid fa-user"></i>
          Clari
        </button>
      </div>
      <button class="btn" type="submit" (click)="acceder()">Acceder</button>
    </form>
  </div>
</main>
