/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

body {
  font-family: Roboto, sans-serif;
  background-image: linear-gradient(to bottom, #424242, #212121);
}

.btn-secondary {
  padding: 10px 22px;
  border-radius: 6px;
  border: 1px solid wheat;
  background-color: transparent;
  color: white;
}

.mb-3 {
  margin-bottom: 3rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-1 {
  margin-bottom: 1rem;
}

// main {
//   min-height: 100vh;
//   display: flex;
//   width: 100%;
//   align-items: end;
//   // flex-direction: column;
//   // justify-content: end;
//   //  margin: 0;
//   // padding: 0;
// }
.div-btns {
  min-height: 85vh;
  max-height: 85vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  // background-color: aqua;
}
.div-btns > button {
  flex-grow: 1; /* Hace que los botones crezcan proporcionalmente */
  margin: 0; /* Elimina el margen entre los botones */
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

.azul {
  background-color: blue;
}

.verde {
  background-color: green;
}

.amarillo {
  background-color: yellow;
}

.rojo {
  background-color: red;
}

.violeta {
  background-color: blueviolet;
}

.blanco {
  background-color: white;
}

.negro {
  background-color: black;
}

.rosa {
  background-color: violet;
}

@media screen and (max-height: 650px) {
  .div-btns {
    flex-direction: row;
    min-height: 70vh;
    max-height: 70vh;
  }
}
