<!-- BOTONES LENGUAJES -->
<ion-fab vertical="center" horizontal="end">
  <ion-fab-button>
    <ion-icon name="earth"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button color="danger" (click)="cambiarIdioma('ingles')">
      <img src="assets/us.png" alt="ingles" />
    </ion-fab-button>
  </ion-fab-list>
  <ion-fab-list side="start" (click)="cambiarIdioma('portuges')">
    <ion-fab-button color="success">
      <img src="assets/redondo.png" alt="portuges" />
    </ion-fab-button>
  </ion-fab-list>
  <ion-fab-list side="bottom" (click)="cambiarIdioma('castellano')">
    <ion-fab-button color="danger">
      <img src="assets/espana.png" alt="español" />
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

<!-- BOTONES TEMAS -->
<ion-fab vertical="center" horizontal="start">
  <ion-fab-button color="tertiary">
    <ion-icon name="grid"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button color="success" (click)="this.mostrarContenido(3)">
      <i class="fa-solid fa-cat"></i>
    </ion-fab-button>
  </ion-fab-list>
  <ion-fab-list side="end">
    <ion-fab-button color="warning" (click)="this.mostrarContenido(1)">
      <i class="fa-solid fa-1"></i>
    </ion-fab-button>
  </ion-fab-list>
  <ion-fab-list side="bottom">
    <ion-fab-button
      color="danger"
      side="bottom"
      (click)="this.mostrarContenido(2)"
    >
      <ion-icon name="color-palette"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>

@switch (this.enum) { @case (1) {
<app-numeros [idioma]="this.idioma"></app-numeros>
} @case (3) {
<app-animales [idioma]="this.idioma"></app-animales>
} @default {
<app-colores [idioma]="this.idioma"></app-colores>
} }
